// フッター


// 変数、ミックスイン、関数
@use "../../global" as g;


.footer {
  padding: 26px;
  background-color: g.$mainColor;

  &__text {
    font-size: 0.875rem;
    text-align: center;
  }

  &__copyright {
    color: g.$whiteColor;
  }
}
