// ページネーション

.pagination {
  display: flex;
  justify-content: center;

  &__item {
    margin: 0 6px;
  }

  &__link,
  &__current {
    display: inline-block;
    width: 36px;
    line-height: 36px;
    border-radius: 50%;
    text-align: center;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    font-size: 1.5rem;
  }

  &__link {
    &:hover {
      background-color: #93d8d0;
      color: #fff;
    }
  }

  &__current {
    background-color: #ccc;
    color: #fff;
  }
}
