<!DOCTYPE html>
<html lang="ja">

<%- include('../components/common/_head.ejs', {page_title: 'メニュー', stylePath: '../css'}) %>

<body class="menu">

<div class="hero hero--menu">
  <%- include('../components/common/_header', {linkPath: '../', logoPath: '../images/common/logo.svg', newsPath: '../news', menuPath: './', contactPath: '../contact/'}) %>

  <div class="hero__content">
    <h2 class="hero__heading">Menu</h2>

    <p class="hero__text">体に優しい自然食を提供する、WCB CAFE。無添加の食材を利用したメニューが特徴です。 おいしいブレンドコーヒーとヘルシーなオーガニックフードで体の内側から癒やされてください。</p>
  </div><!-- /.hero__content -->
</div><!-- /.hero.hero--menu -->

<div class="photoList l-wrapper">
  <div class="photoList__item">
    <img class="photoList__image" src="../images/menu/menu1.jpg" alt="#">

    <p class="photoList__caption">写真キャプション写真キャプション</p>
  </div><!-- /.photoList__item -->

  <div class="photoList__item">
    <img class="photoList__image" src="../images/menu/menu2.jpg" alt="#">

    <p class="photoList__caption">写真キャプション写真キャプション</p>
  </div><!-- /.photoList__item -->

  <div class="photoList__item">
    <img class="photoList__image" src="../images/menu/menu3.jpg" alt="#">

    <p class="photoList__caption">写真キャプション写真キャプション</p>
  </div><!-- /.photoList__item -->

  <div class="photoList__item">
    <img class="photoList__image" src="../images/menu/menu4.jpg" alt="#">

    <p class="photoList__caption">写真キャプション写真キャプション</p>
  </div><!-- /.photoList__item -->

  <div class="photoList__item">
    <img class="photoList__image" src="../images/menu/menu5.jpg" alt="#">

    <p class="photoList__caption">写真キャプション写真キャプション</p>
  </div><!-- /.photoList__item -->

  <div class="photoList__item">
    <img class="photoList__image" src="../images/menu/menu6.jpg" alt="#">

    <p class="photoList__caption">写真キャプション写真キャプション</p>
  </div><!-- /.photoList__item -->

  <div class="photoList__item">
    <img class="photoList__image" src="../images/menu/menu7.jpg" alt="#">

    <p class="photoList__caption">写真キャプション写真キャプション</p>
  </div><!-- /.photoList__item -->

  <div class="photoList__item">
    <img class="photoList__image" src="../images/menu/menu8.jpg" alt="#">

    <p class="photoList__caption">写真キャプション写真キャプション</p>
  </div><!-- /.photoList__item -->

  <div class="photoList__item">
    <img class="photoList__image" src="../images/menu/menu9.jpg" alt="#">

    <p class="photoList__caption">写真キャプション写真キャプション</p>
  </div><!-- /.photoList__item -->

</div><!-- /.photoList -->


<%- include('../components/common/_footer.ejs') %>

</body>
</html>
