// 変数


// カラー
$mainColor: #432;
$subColor: #faf7f0;
$accentColor: #0bd;
$textColor: #432;
$whiteColor: #fff;


// ブレイクポイント
$breakpoints: (
  xs-min: '(min-width: 320px)',
  xs-max: '(max-width: 319px)',
  sm-min: '(min-width: 601px)',
  sm-max: '(max-width: 600px)',
  md-min: '(min-width: 768px)',
  md-max: '(max-width: 767px)',
  lg-min: '(min-width: 992px)',
  lg-max: '(max-width: 991px)',
  xl-min: '(min-width: 1366px)',
  xl-max: '(max-width: 1365px)'
);
