<nav class="gNav">
  <ul class="gNav__list">
    <li class="gNav__item">
      <a class="gNav__link" href="<%- newsPath %>">News</a>
    </li>

    <li class="gNav__item">
      <a class="gNav__link" href="<%- menuPath %>">Menu</a>
    </li>

    <li class="gNav__item">
      <a class="gNav__link" href="<%- contactPath %>">Contact</a>
    </li>
  </ul>
</nav>
