<header class="header l-wrapper">
  <h1 class="header__heading">
    <a class="header__link" href="<%- linkPath %>">
      <img class="header__logo" src="<%- logoPath %>" alt="WCB CAFE">
    </a>
  </h1>

  <%- include('_gnav.ejs') %>
</header>
