<aside class="<%- newsElement %> sidebar">
  <section class="sidebar__section">
    <h3 class="sidebar__heading">カテゴリー</h3>

    <ul class="sidebar__list">
      <li class="sidebar__item">
        <a class="sidebar__link" href="#">お店の紹介</a>
      </li>

      <li class="sidebar__item">
        <a class="sidebar__link" href="#">期間限定メニュー
        </a>
      </li>

      <li class="sidebar__item">
        <a class="sidebar__link" href="#">イベント</a>
      </li>

      <li class="sidebar__item">
        <a class="sidebar__link" href="#">お客様との会話</a>
      </li>
    </ul>
  </section>

  <section class="sidebar__section">
    <h3 class="sidebar__heading">このお店について</h3>

    <p class="sidebar__text">体に優しい自然食を提供する、WCB CAFE。無添加の食材を利用したメニューが特徴です。 おいしいブレンドコーヒーとヘルシーなオーガニックフードで体の内側から癒やされてください。</p>
  </section>
</aside>
