<div class="primaryHeroHeader" id="heroHeader">
  <div class="primaryHeroHeader__wrapper <%- layout %>">
    <h1 class="primaryHeroHeader__heading">WCB Conference</h1>

    <time class="primaryHeroHeader__date" datetime="2021-11-07">2021. 11. 7. 14:00 - 16:00</time>

    <p class="primaryHeroHeader__text">
      オンラインで行っているWebサイト制作の勉強会、WCB Conference。 今回は最新のCSSテクニックとデザイントレンドを中心に紹介します。 参加料金は無料！お気軽にご参加ください。
    </p>
  </div><!-- /.primaryHeroHeader__wrapper.l-wrapper l-wrapper--md -->
</div><!-- /.primaryHeroHeader -->
