// ベース


@use "../global" as g;


html {
  font-size: 100%;
}

body {
  font-family: "Yu Gothic Medium", "游ゴシック", YuGothic, "游ゴシック体", "ヒラギノ角ゴ Pro W3", sans-serif;
  line-height: 1.7;
  color: g.$textColor;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
  height: auto;
}

ul,
ol {
  list-style-type: none;
}
